Source: deadbeef
Section: sound
Priority: optional
Maintainer: Benjamin Barenblat <bbaren@mit.edu>
Build-Depends:
 debhelper (>= 9.0.0),
 dh-autoreconf,
 intltool,
 libgtk2.0-dev (>= 2.12),
 libpulse-dev,
 libvorbis-dev
Standards-Version: 3.9.6
Homepage: http://deadbeef.sourceforge.net/

Package: deadbeef
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ultimate music player for GNU/Linux
 DeaDBeeF (as in 0xDEADBEEF) is an audio player for GNU/Linux, *BSD,
 OpenSolaris, and other UNIX-like systems.  DeaDBeeF plays files encoded with
 MP3, Ogg Vorbis, FLAC, WAV, and AAC, as well as many exotic codecs, and it
 offers a fully-featured metadata editor with automatic character set detection
 and Unicode support.
 .
 DeaDBeeF's interface is reminiscent of the well-known nonfree music player
 Foobar2000, including multiple playlists with selection via tabs, customizable
 groups within playlists, album cover display, global hotkey support, and OSD
 integration.
