Source: deadbeef
Section: sound
Priority: optional
Maintainer: Benjamin Barenblat <bbaren@mit.edu>
Build-Depends:
 debhelper (>= 9.0.0),
 dh-autoreconf,
 intltool,
 libasound2-dev,
 libavformat-dev,
 libcddb2-dev | libcddb-dev,
 libcdio-dev,
 libcurl4-gnutls-dev (>= 7.10) | libcurl-dev (>= 7.10),
 libdbus-1-dev,
 libfaad-dev,
 libflac-dev,
 libgtk2.0-dev (>= 2.12),
 libgtk-3-dev,
 libimlib2-dev,
 libmad0-dev,
 libpulse-dev,
 libsamplerate0-dev | libsamplerate-dev,
 libsndfile1-dev | libsndfile-dev,
 libvorbis-dev,
 libwavpack-dev,
 libx11-dev,
 oss4-dev
Standards-Version: 3.9.6
Homepage: http://deadbeef.sourceforge.net/

Package: deadbeef
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ultimate music player for GNU/Linux
 DeaDBeeF (as in 0xDEADBEEF) is an audio player for GNU/Linux, *BSD,
 OpenSolaris, and other UNIX-like systems.  DeaDBeeF plays files encoded with
 MP3, Ogg Vorbis, FLAC, WAV, and AAC, as well as many exotic codecs, and it
 offers a fully-featured metadata editor with automatic character set detection
 and Unicode support.
 .
 DeaDBeeF's interface is reminiscent of the well-known nonfree music player
 Foobar2000, including multiple playlists with selection via tabs, customizable
 groups within playlists, album cover display, global hotkey support, and OSD
 integration.

Package: deadbeef-dbg
Architecture: any
Section: debug
Priority: extra
Depends: deadbeef (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Ultimate music player for GNU/Linux systems - debug files
 DeaDBeeF (as in 0xDEADBEEF) is an audio player for GNU/Linux, *BSD,
 OpenSolaris, and other UNIX-like systems.
 .
 This package contains gdb debugging symbols for the deadbeef package.

Package: deadbeef-plugins-dev
Architecture: all
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ultimate music player for GNU/Linux systems - development files
 DeaDBeeF (as in 0xDEADBEEF) is an audio player for GNU/Linux, *BSD,
 OpenSolaris, and other UNIX-like systems.
 .
 This package contains all supplementary files you need to develop your plugins
 for DeaDBeeF.
