#!/usr/bin/make -f
# -*- makefile -*-

# Avoid overlinking and reduce library dependencies.
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --parallel --with autoreconf

.PHONY: override_dh_autoreconf
override_dh_autoreconf:
	dh_autoreconf sh -- autogen.sh

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure -- \
	    --enable-nullout \
	    --enable-alsa \
	    --enable-oss \
	    --enable-pulse \
	    --disable-coreaudio \
	    --enable-gtk2 \
	    --enable-gtk3 \
	    --enable-vfs-curl \
	    --enable-lfm \
	    --enable-artwork \
	    --disable-artwork-network \
	    --enable-supereq \
	    --disable-sid \
	    --enable-mad \
	    --disable-ffap \
	    --enable-vtx \
	    --disable-adplug \
	    --enable-hotkeys \
	    --enable-vorbis \
	    --enable-ffmpeg \
	    --enable-flac \
	    --enable-sndfile \
	    --enable-wavpack \
	    --enable-cdda \
	    --disable-gme \
	    --enable-notify \
	    --enable-shellexec \
	    --disable-musepack \
	    --disable-wildmidi \
	    --enable-tta \
	    --disable-dca \
	    --enable-aac \
	    --disable-mms \
	    --disable-staticlink \
	    --enable-src \
	    --enable-m3u \
	    --disable-vfs-zip \
	    --enable-converter \
	    --enable-artwork-imlib2 \
	    --disable-dumb \
	    --disable-shn \
	    --disable-psf \
	    --enable-mono2stereo \
	    --enable-shellexecui \
	    --enable-alac \
	    --disable-wma \
	    --enable-pltbrowser \
	    --libdir=/usr/lib/$(DEB_HOST_MULTIARCH)

.PHONY: override_dh_compress
override_dh_compress:
	dh_compress -XChangeLog

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip -pdeadbeef-core --dbg-package=deadbeef-core-dbg
	dh_strip -pdeadbeef-plugin-aac --dbg-package=deadbeef-plugin-aac-dbg
	dh_strip -pdeadbeef-plugin-alac --dbg-package=deadbeef-plugin-alac-dbg
	dh_strip -pdeadbeef-plugin-alsa --dbg-package=deadbeef-plugin-alsa-dbg
	dh_strip -pdeadbeef-plugin-artwork --dbg-package=deadbeef-plugin-artwork-dbg
	dh_strip -pdeadbeef-plugin-cdda --dbg-package=deadbeef-plugin-cdda-dbg
	dh_strip -pdeadbeef-plugin-converter-core --dbg-package=deadbeef-plugin-converter-core-dbg
	dh_strip -pdeadbeef-plugin-converter-gtk2 --dbg-package=deadbeef-plugin-converter-gtk2-dbg
	dh_strip -pdeadbeef-plugin-converter-gtk3 --dbg-package=deadbeef-plugin-converter-gtk3-dbg
	dh_strip -pdeadbeef-plugin-curl --dbg-package=deadbeef-plugin-curl-dbg
	dh_strip -pdeadbeef-plugin-flac --dbg-package=deadbeef-plugin-flac-dbg
	dh_strip -pdeadbeef-plugin-gui-gtk2 --dbg-package=deadbeef-plugin-gui-gtk2-dbg
	dh_strip -pdeadbeef-plugin-gui-gtk3 --dbg-package=deadbeef-plugin-gui-gtk3-dbg
	dh_strip -pdeadbeef-plugin-hotkeys --dbg-package=deadbeef-plugin-hotkeys-dbg
	dh_strip -pdeadbeef-plugin-lastfm --dbg-package=deadbeef-plugin-lastfm-dbg
	dh_strip -pdeadbeef-plugin-libavcodec --dbg-package=deadbeef-plugin-libavcodec-dbg
	dh_strip -pdeadbeef-plugin-m3u --dbg-package=deadbeef-plugin-m3u-dbg
	dh_strip -pdeadbeef-plugin-mono2stereo --dbg-package=deadbeef-plugin-mono2stereo-dbg
	dh_strip -pdeadbeef-plugin-mp3 --dbg-package=deadbeef-plugin-mp3-dbg
	dh_strip -pdeadbeef-plugin-notify --dbg-package=deadbeef-plugin-notify-dbg
	dh_strip -pdeadbeef-plugin-nullout --dbg-package=deadbeef-plugin-nullout-dbg
	dh_strip -pdeadbeef-plugin-oss --dbg-package=deadbeef-plugin-oss-dbg
	dh_strip -pdeadbeef-plugin-pltbrowser-gtk2 --dbg-package=deadbeef-plugin-pltbrowser-gtk2-dbg
	dh_strip -pdeadbeef-plugin-pltbrowser-gtk3 --dbg-package=deadbeef-plugin-pltbrowser-gtk3-dbg
	dh_strip -pdeadbeef-plugin-pulse --dbg-package=deadbeef-plugin-pulse-dbg
	dh_strip -pdeadbeef-plugin-resampler --dbg-package=deadbeef-plugin-resampler-dbg
	dh_strip -pdeadbeef-plugin-shellexec-core --dbg-package=deadbeef-plugin-shellexec-core-dbg
	dh_strip -pdeadbeef-plugin-shellexec-gtk2 --dbg-package=deadbeef-plugin-shellexec-gtk2-dbg
	dh_strip -pdeadbeef-plugin-shellexec-gtk3 --dbg-package=deadbeef-plugin-shellexec-gtk3-dbg
	dh_strip -pdeadbeef-plugin-sndfile --dbg-package=deadbeef-plugin-sndfile-dbg
	dh_strip -pdeadbeef-plugin-supereq --dbg-package=deadbeef-plugin-supereq-dbg
	dh_strip -pdeadbeef-plugin-tta --dbg-package=deadbeef-plugin-tta-dbg
	dh_strip -pdeadbeef-plugin-wavpack --dbg-package=deadbeef-plugin-wavpack-dbg
	dh_strip -pdeadbeef-plugin-vorbis --dbg-package=deadbeef-plugin-vorbis-dbg
	dh_strip -pdeadbeef-plugin-vtx --dbg-package=deadbeef-plugin-vtx-dbg

.PHONY: override_dh_install
override_dh_install:
	-$(RM) debian/tmp/usr/lib/*/deadbeef/*.la
	-$(RM) debian/tmp/usr/lib/*/deadbeef/*.a
	-$(RM) debian/deadbeef/usr/lib/*/deadbeef/*.so.0*
	dh_install -XCOPYING.GPLv2 -XCOPYING.LGPLv2.1 --list-missing

.PHONY: override_dh_installdocs
override_dh_installdocs:
	dh_installdocs -XREADME

.PHONY: override_dh_builddeb
override_dh_builddeb:
	dh_builddeb -- -Zxz -z9
